.navbar-box{
    position: absolute;
    width: 100%;
    height: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px; 
}

.navbar-box a:link{
    text-decoration: none;
    color: black;
}

.navbar-box a:visited{
    color: black;
}

.navbar-box a:hover{
    text-decoration: underline;

}

*:focus {
    outline: none;
}

.navbar-box ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-box li{
    display: inline;
}

.left-head{
    float: left;
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
    align-items: center;
    
}

.right-head{
    float: right;
    display: block;
    padding: 10px;
    justify-content: flex-end;
    align-items: flex-end;
    
}

.logo{
    position: absolute;
    top: 18%;
    left: 39%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#google{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-box{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(255, 255, 255);
    height: 25px;
    padding: 10px;
    border-radius: 40px;
    border-style: solid;
    border-color: rgb(194, 194, 194);
    border-width: 1px;
    width: 550px;
    
}

@media (min-width: 250px;).search-box

.search-box:hover{
    box-shadow: 2px 2px 2px 2px rgb(224, 224, 224);

}

.search-btn{
    color: rgb(204, 199, 199);
    float: left;
    height: 30px;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;

}

.search-txt{
    border: none;
    background: none;
    float: right;
    padding: 0;
    font-size: 14px;
    line-height: 30px;
    width: 90%;
    border-color: black;

}

.submit-box{
    position: absolute;
    top: 45%;
    left:38%;
    margin: 20px;
    padding: 5px;
}

.submit-btn{
    padding: 8px 11px;
    border-radius: 5px;
    background-color: rgb(247, 242, 242);
    border: none;
}

.submit-btn:hover{
    border-style: solid;
    border-color:rgb(133, 133, 133);
    border-width: 1px;
}


.footer-nav{
    position: absolute;
    bottom: 0px;
    background-color: rgb(219, 216, 216);
    width: 100%;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.footer a:link{
    text-decoration: none;
    color:rgb(133, 133, 133);
}

.footer a:hover{
    text-decoration: underline;
}

.footer a:visited{
    color:rgb(133, 133, 133);
}

.footer li{
    display: inline;
}

.left-foot{
    float: left;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 13px;
    
}

.center-foot{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#carbon{
    padding-left: 15%;
}
.right-foot{
    float: right;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 15px;
    
}

